# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python
build/
dist/

# Jupyter
.ipynb_checkpoints

# Environment
.env
.venv
venv/

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store

# Logs
*.log